.loginForm input {
    display: block;
    height: 50px;
    width: 95%;

}
.loginContainer {
   padding-top: 100px;
   background-color:rgb(187, 216, 216);
   height: 500px;

}
.loginForm {
    
    width: 200px;
    margin: auto;
}


.ag-header-cell-label {
    justify-content: center;
 }

.errorMessage{
    color: red;
}

.greething {
    text-align: center;
}